body {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #060;
}


/*
 * Formatting the header area
 */

header {
    /* display: block; */
    background-color: #2b2d39;
    height: fit-content;
    width: 100%;
    opacity: .9;
}

.header_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

header h1.logo {
    display: block;
    margin: 0;
    padding-left: 1%;
    width: 29%;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
}


/* header h1.logo:hover {
    color: rgb(245, 236, 197);
    text-decoration: none;
} */

.menu {
    display: block;
    width: 70%;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: auto;
    height: 100%;
    vertical-align: middle;
}

nav a {
    display: block;
    color: rgb(0, 176, 0);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 1.3em;
    width: 20%;
    height: 100%;
    transition: 0.4s;
}

nav a:hover {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 29, 0);
}


/*
 * Center the body content
 */

.container {
    display: block;
    width: 90%;
    margin: 1em auto;
}

.home,
.python,
.school,
.hobbies {
    display: block;
    height: 100%;
    color: blanchedalmond;
}

.main-imtx-box {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

.main-img-box {
    display: block;
    width: 50%;
    background-image: url("/static/pics/1.jpeg");
    background-position: center;
    background-size: cover;
}

.main-txt-box {
    display: block;
    background-color: black;
    width: 50%;
    height: 90vh;
    align-items: center;
}

.main-txt-box * {
    padding: 2em;
}

.cnt-box {
    height: 100%;
}

.txt-box {
    background-color: black;
    padding: 1em;
    margin-bottom: 1em;
}

.txt-box a {
    text-decoration: none;
    color: coral;
    font-weight: bold;
}

.imtx-box {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    margin-bottom: 1em;
}

.img-box {
    display: block;
    width: 30%;
    background-position: center;
    background-size: cover;
}

.itxt-box {
    display: block;
    background-color: rgb(58, 58, 58);
    width: 68%;
    height: auto;
    align-items: center;
    padding: 1%;
}

#FEI {
    background-image: url("/static/pics/fei.jpeg");
}

#GTA {
    background-image: url("/static/pics/GTA.jpeg");
}

#SCOUT {
    background-image: url("/static/pics/sct.jpeg");
}

#BOLT {
    background-image: url("/static/pics/blt.jpeg");
}

#OUTDOOR {
    background-image: url("/static/pics/out.jpeg");
}

#TABOR {
    background-image: url("/static/pics/tabor.jpg");
}

#PHOTO {
    background-image: url("/static/pics/photo.jpeg");
}

form {
    text-align: center;
}

input {
    width: 350px;
    height: 15px;
    font-size: 15px;
    margin: 2px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
}

button {
    width: 70px;
    height: 30px;
    background-color: rgb(0, 176, 0);
    margin: 3px;
}

.message {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #ff9999;
}

h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}

h3 {
    font-size: 1.9em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    background-color: #2b2d39;
}

.ftr {
    text-align: center;
    display: block;
    width: 33.33%;
    color: rgb(0, 176, 0);
}

.ftr a {
    color: white;
    text-align: center;
    text-decoration: none;
}


/*  */

@media all and (max-width: 600px) {
    .header_container {
        flex-flow: column wrap;
    }
    header h1.logo {
        width: 100%;
        background-color: black;
    }
    .menu {
        width: 100%;
    }
    nav {
        flex-flow: column wrap;
        padding: 0;
        align-items: center;
    }
    nav a {
        text-align: center;
        padding: 10px;
    }
    footer {
        flex-flow: column;
    }
    .ftr {
        width: 100%;
    }
    .main-imtx-box,
    .imtx-box {
        flex-flow: column wrap;
    }
    .main-img-box,
    .main-txt-box,
    .itxt-box {
        width: 100%;
        height: auto;
        padding: 0;
    }
    .main-img-box,
    .img-box {
        height: 30vh;
        width: 100%;
    }
    input {
        width: 80%;
    }
}