{%extends "layout.html"%} {%block content%}
<div class="experience">
        <div class="chapter-header">
            <h1>Experience</h1>
            <p>In IT industry I'm professionaly active since 2021. Beside that I have almost a decade of volunteering experience in Slovak Scouting.</p>
        </div>

        <div class="chapter-item-container">
            <div class="img-box" id="SIEMENS">
            </div>
            <div class="txt-box">
                <h3>Siemens Healthineers</h3>
                <p>
                    Since the July of 2021 (1 year, 8 months) I'm working as a .NET software developer on the project Ultrasound. 
                </p>
                <p>
                    The job includes design, development and deployment of multiple software tools improving the development process. The tools are implemented as .NET desktop applications using C#, XAML and MVVM design pattern in Windows Presentation Foundation framework.
                </p>
                <p>
                    Other part of job is development of automated software tests for production product, the ultrasound diagnostic system.
                </p>
            </div>
        </div>

        <div class="chapter-item-container">

            <div class="txt-box">
                <h3>Slovak Scouting</h3>
                <p>
                    "Learning by doing" is one of the main methods in global Scout movement. Since 2014 I've learnt a lot about management, communication, leadership and many other soft skills.
                </p>
                <p>
                    Until January 2023 I was a boy-scout troop leader. Main responsibility was long-term leadership of a scout troop (3. oddiel skautov Delfíny, 68. zbor Biele Vrany, Košice) with 40 members aged 11-20 years old. This includes long-term planning, problem solving, event organization, mentoring, youth and self education.
                </p>
            </div>
            <div class="img-box" id="CAMP">
            </div>
        </div>

        <!-- <div class="chapter-item-container">
            <div class="img-box" id="BOLT">
            </div>
            <div class="txt-box">
                <h3>Bolt</h3>
                <p>Yeah, there was a period in 2020-2021 when I managed to combine my passion for cycling with part-time job opportunity. It was great. Maybe I already brought you the lunch :D</p>
            </div>
        </div> -->

        <div class="chapter-header">
            <h1>Education</h1>
        </div>

        <div class="chapter-item-container">
            <div class="img-box" id="OULU">
            </div>
            <div class="txt-box">
                <h3>University of Oulu</h3>
                <p>
                    During my student exchange period (August 2022 to January 2023) in the far north I experienced not only the harsh Finnnish winter, but also fully tasted one of the best education systems in the world. 
                </p>
                <p>
                    I had a grat opportunity to develop my language and communication skills and see state-of-the-art IT industry approaches from all over the world. 
                </p>
                <p>
                    I also dived into Deep learning, Multi modal data fusion, Data mining, Affective computing, Digitalisation and Innovation, Virtual Reality systems and survived a Finnish language course.
                </p>
            </div>
        </div>

        <div class="chapter-item-container">
            <div class="txt-box">
                <h3>Technical University of Košice</h3>
                <p>
                    In the May of 2022 I graduated from bachelor's study programme Informatics at Faculty of Electrical Engineering and Informatics with distinction (Red Diploma).
                </p>

                <p>
                    Since the September of 2022 I'm following my studies at TUKE for the master's degree. 
                </p>
            </div>
            <div class="img-box" id="GRAD">
            </div>
        </div>

        <div class="chapter-item-container">
            <div class="img-box" id="VLS"></div>
            <div class="txt-box">
                <h3>Non-formal education</h3>
                <p>
                    Slovak scouting has accredited education system for scout leaders. In 2018 and 2022 I completed so called Forrest Schools (Líderská lesná škola and Vodcovská lesná škola). The curriculum covers also topics related to problem solving and analysis, team management, communication... and many others which I found useful also in professional life.
                </p>
                <p>
                    In 2018 and 2022 I completed 33h First aid courses which are accredited by Falck and Rescue Slovakia s.r.o. 
                </p>
            </div>
        </div>

        <!-- <div class="chapter-item-container">
            <div class="itxt-box">
                <h3>Gymnázium sv. Tomáša Akvinského</h3>
                <p>Okrem Vodičského oprávnenia sk. B, je mojím druhým najvyšším dosiahnutým vzdelaním to stredoškolské s maturitou. Maturoval som v roku 2019 z predmetov Matematikaň/Fyzika na gymnáziu sv. Tomáša Akvinského aka GTA.</p>
            </div>
            <div class="img-box" id="GTA">
            </div>
        </div> -->
</div>
{%endblock%}