{%extends "layout.html"%} {%block content%}
<!-- <link rel="stylesheet" href={{cdn_css | safe}} type="text/css"/> -->
<script type="text/javascript" src={{cdn_js | safe}}></script>

<div class="gallery">
    <div class="chapter-header">
        <h1>Data science and Artificial intelligence</h1>
        <p>During my studies in Oulu I had opportunity to work on projects using latest approaches in Data science, such as AI.</p>
    </div>

    <div class="chapter-item-container">
        <div class="img-box" id="ANIME">
        </div>
        <div class="txt-box">
            <h3>Anime face generation - Generative Adversial Network</h3>
            <p>
                Part of the "Deep learning" course was development and tuning of GAN, capable to generate original
                images of Anime characters. Part of the GitHub is also a paper, documenting the work.
            </p>

            <p>
            <p><a href="https://github.com/JanFab/DeepLearning">Link to GitHub.</a></p>
            </p>
        </div>
    </div>

    <div class="chapter-item-container">
        <div class="txt-box">
            <h3>Exercise classification based on Multiple modalities data</h3>
            <p>
                Multi Modal Data Fusion project was developed in cooperation with fellow student <a
                    href="https://github.com/theATM">Aleksander Madajczak</a>. Task was to classify human exercise based
                on data from depth camera and accelerometer. Multiple modalities were merged using multiple approaches
                from simple classifiers to Neural network.
            </p>

            <p>
            <p><a href="https://github.com/theATM/slovo-mex">Link to GitHub.</a></p>
            </p>
        </div>

        <div class="img-box" id="MMDF">
        </div>
    </div>

    <div class="chapter-header">
        <h1>Apps</h1>
        <p>In my free time and during my studies in TUKE I developed some simple projects to get fammiliar with technoligies such as Java Spring and Python web app development with Flask framework</p>
    </div>

    <div class="chapter-item-container">
        <div class="img-box" id="ANIME">
        </div>
        <div class="txt-box">
            <h3>Personal Website - Jan Fabian</h3>
            <p>
                This simple personal website is developed as a side project.
            </p>

            <p>
            <p><a href="https://github.com/JanFab/DeepLearning">Link to GitHub.</a></p>
            </p>
        </div>
    </div>



<!-- <div class="chapter-header">
            <h1>Zbieranie údajov z populácie o výške</h1>
            <h3>Prosím vyplňte formulár. Aktuálny výsledok prieskumu vám príde na zadaný email.</h3>
            <div class="mesage">{{text | safe}}</div>
            <form action="{{url_for('success')}}" method="POST">
                <input title="Your email will be safe with us" placeholder="Zadajte svoju emailovú adresu" type="email" name="email_name" required><br>
                <input title="Your data will be safe with us" placeholder="Zadajte svoju výšku v cm" type="number" min="50" max="300" name="height_name" required><br>
                <button type="submit">Potvrdiť</button>
            </form>
            <p>Aplikácia využíva online databázu na ukladanie údajov. Po vyplnení údajov sa odosiela generovaný email.</p>
        </div>

        <div class="chapter-header">
            <h1>Akcie ATLASSIAN</h1>
            <p>Chrbtovou kosťou tabuľky je knižnica Pandas. Tabuľka obsahuje aktuálne údaje o každodennom vývine cien akciích Atlassian Corporation Plc. Na zobrazenie interaktívneho grafu využíva Bokeh. Zdroj údajov je Yahoo Finance.</p>
            <p>#pandysrandy</p>
            {{script1 | safe}} {{div1 | safe}}
        </div>

        <div class="chapter-header">
            <h1>GitHub</h1>
            <p>Aktuálne zadanie z predmetu Komponentové programovanie. Nie je ešte dokončené. Pracujem v ňom s databázami, Spring frameworkom a webovými službami ako REST. Ináč je to príjemná (zatiaľ) konzolová hra. Ďalším krokom z neho vznikne webová aplikácia.</p>
            <p>Kliknite <a href="https://github.com/JanFab/WhatsThePicture">SEM</a> pre odkaz na GitHub.</p>
        </div> -->

</div> {%endblock%}