{%extends "layout.html"%} {%block content%}
<div class="hobbies">
        <div class="chapter-header">
            <h1>Hobbies</h1>
            <p>When it come's to free time, I have multiple ways how to spend it. In general these are outdoor activities.</p>
        </div>

        <div class="chapter-item-container">
            <div class="img-box" id="CLIMB">
            </div>
            <div class="txt-box">
                <h3>Nature</h3>
                <p>
                    I'm a big fan of our Slovak nature. Cruising throug woods on a bike, walking up the mountains, skiing down the powder slopes, spending nights under starry sky,... that's me.
                </p>
            </div>
        </div>

        <div class="chapter-item-container">
            <div class="txt-box">
                <h3>Scouting</h3>
                <p>
                    Scouting is great not only for developing woodcraft and soft skills. Although it's often stressful for the troop-leader, there are moments when I can slow down. It gave me opportunity to have memories and friends, that could get nowhere else. 
                </p>
            </div>
            <div class="img-box" id="TABOR">
            </div>
        </div>

        <div class="chapter-item-container">
            <div class="img-box" id="HAILUOTO">
            </div>
            <div class="txt-box">
                <h3>Analogue Photography</h3>
                <p>
                    I also like instant digital photography, but with all the postprocessing it somehow filters out the atmosphere of the moment. 35mm film does not suffer from that. No electronics, just glass, metal and a roll of gold, Kodak Gold.
                </p>
            </div>
        </div>

        <div class="chapter-item-container">
            <div class="txt-box">
                <h3>Architecture</h3>
                <p>
                    Exploring and capturing 20th century architecture is what lights me up. There are many masterpieces, that are not appreciated well enough yet.
                </p>
            </div>
            <div class="img-box" id="LIBRARY"></div>
        </div>

        <div class="chapter-item-container">
            <div class="img-box" id="BLOOD"></div>
            <div class="txt-box">
                <h3>Blood donation</h3>
                <p>
                    Not really a hobby, but when my health conditions allow it, I tend to share some blood. I really admire and ecourage people who can participate in that.
                </p>
            </div>
        </div>
</div>
{%endblock%}