{%extends "layout.html"%} {%block content%}
<div class="hobbies">
    <div class="cnt-box">
        <div class="txt-box">
            <h1>Voľný čas</h1>
            <p>Vždy ho málo, na dobré však stále akosi výjde</p>
        </div>

        <div class="imtx-box">
            <div class="img-box" id="OUTDOOR">
            </div>
            <div class="itxt-box">
                <h3>Outdoor</h3>
                <p>Na strednej som možno viac bicykloval ako sa učil. Tisícky kilometrov pešo a na kolesách. Na výške som zistil, že ak by som miesto toho programoval, asi by to so mnou dnes vyzeralo ináč. Binárnymi strommami možno neprechádzam tak obratne,
                    ako bučinou na bicykli, avšak určite to neľutujem. Každá chvíľa v zime teple, suchu, blate, v noci, či skoro z rána je nenahraditeľná.</p>
            </div>
        </div>

        <div class="imtx-box">
            <div class="itxt-box">
                <h3>Skauting</h3>
                <p>Skauting nie je len o rozvoji, vzdelávaní, rýchlom napredovaní. Účí aj spomaliť, zastaviť, porozprávať sa, budovať vzťahy s hĺbkou a presahom. Kto si raz zvykne, ťažko si predstaví život bez neho. ...a ten nespočet nocí pod hviezdami</p>
            </div>
            <div class="img-box" id="TABOR">
            </div>
        </div>s

        <div class="imtx-box">
            <div class="img-box" id="PHOTO">
            </div>
            <div class="itxt-box">
                <h3>Fotografia</h3>
                <p>Bez výbavy, vzdelania, zhmotniť chvíľu. To je čo ma fascinuje. A občas sa zadarí aj pekný obrázok</p>
            </div>
        </div>
    </div>
</div>
{%endblock%}