{%extends "layout.html"%} {%block content%}
<div class="home">
    <div class="main-imtx-box">
        <div class="main-img-box">
        </div>
        <div class="main-txt-box">
            <h2>"Be prepared!"</h2>
            <p>Kto sa nezľakol motta, Vítam ho na mojej stránke. Nájdete tu moju stručnejšiu (než by som chcel) históriu, prehľad hobbies, a krátku galériu features bežiacich na python backende. Tak prajem príjemné klikanie, a možno sa dozviete, aký je pôvod
                môjho motta.</p>
        </div>
    </div>
</div>
{%endblock%}