<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="../static/pics/ttle.png" type="image/png">
    <title>Ján Fabian</title>
    <link rel="stylesheet" href="{{(url_for('static', filename='main.css'))}}">
</head>

<body>
    <header>
        <div class="header_container">
            <div class="logoWrap">
                <h1 class="logo">Ján Fabian</h1>
                <div class="containerBars" onclick="myFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>
            <div class="menu change">
                <nav>
                    <a href="{{url_for('home')}}">Home</a>
                    <a href="{{url_for('school')}}">Experiences</a>
                    <a href="{{url_for('hobbies')}}">Hobbies</a>
                    <a href="{{url_for('python')}}">Gallery</a>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        {%block content%} {%endblock%}
    </div>
    <footer>
        <div class="ftr"><a href="{{url_for('home')}}">Domov</a></div>
        <div class="ftr">Jan Fabian 2021</div>
        <div class="ftr"><a href="mailto:janco.fabo@gmail.com">janco.fabo@gmail.com</a></div>
    </footer>

    <script>
        function myFunction(x) {
            x.classList.toggle("change");
            document.getElementsByClassName("menu")[0].classList.toggle("change");
        }
    </script>
</body>

</html>