{%extends "layout.html"%} {%block content%}
<div class="school">
    <div class="cnt-box">
        <div class="txt-box">
            <h1>Skúsenosti</h1>
            <p>Veľa ich nemám, ale veď, som ešte mladý..</p>
        </div>

        <div class="imtx-box">
            <div class="img-box" id="FEI">
            </div>
            <div class="itxt-box">
                <h3>Štúdium na TUKE</h3>
                <p>Som študentom 2. ročníka bakalárskeho štúdia v odbore Informatika na FEI TUKE. Zatiaľ máme pevné základy v oblastiach ako algoritmizácia, programovanie v jazyku C a Java, Webové technológie, Databázy či OOP. Technológie týkajúce sa Python,
                    machine learning a AI sú zatiaľ obsahom len môjho samoštúdia. Rád by som v tejto oblasti získal aj praktické zručnosti.
                </p>
            </div>
        </div>

        <div class="imtx-box">
            <div class="itxt-box">
                <h3>Stredná škola</h3>
                <p>Okrem Vodičského oprávnenia sk. B, je mojím druhým najvyšším dosiahnutým vzdelaním to stredoškolské s maturitou. Maturoval som v roku 2019 z predmetov Matematikaň/Fyzika na gymnáziu sv. Tomáša Akvinského aka GTA.</p>
            </div>
            <div class="img-box" id="GTA">
            </div>
        </div>

        <div class="imtx-box">
            <div class="img-box" id="SCOUT">
            </div>
            <div class="itxt-box">
                <h3>Slovenský skauting</h3>
                <p>Z čoho najviac čerpám, je aktivita v Slovenskom skautingu. Skautské hnutie je dokonalou doménou nielen pre povestné zálesácke hard-skills, ale hlavne prácu s ľuďmi a celkovo všestranný rozvoj. Prvý tábor s 3. oddielom Delfínov som prežil
                    už v 2009. Ako skautský vedúci, už od 2014 získavám cenné skúsenosti pre prácu v tíme. Organizovanie či účasť na lokálnych a medzinárodných akciách skautom tiež nie sú cudzie. Štandardom sú aj ministerstvom školstva akreditované vzdelávacie
                    kurzy - Lesné školy. Veď heslo skautov znie "Buď pripravený!"</p>
            </div>
        </div>

        <div class="imtx-box">
            <div class="itxt-box">
                <h3>Bolt</h3>
                <p>K Boltu toho veľa nemám :D ...jednoducho, poriadna cyklistika. Bohužial, ani profesionálnu skúsenosť s prácou v IT svete tiež nemám. Som však pevne rozhodnutý, ju čo najskôr získať. Rád by som zúžitkoval roky príprav počas (samo)štúdia
                    či v Skautingu. Myslím, že už nie je o čom, treba ísť robic.</p>
            </div>
            <div class="img-box" id="BOLT">
            </div>
        </div>

    </div>
</div>
{%endblock%}